

  <nav class="navbar navbar-dark bg-success">
  <div class="container-fluid">
    
      
    <img src="assets\img\MSIT_logo.jpg"  width="50" alt="logo">
    <span class="text-uppercase text-warning text-bold">Meghnad Saha Institute of Technology</span>

</div>
</nav>



<!--

<nav class="navbar navbar-success bg-success">
  <div class="container-fluid">
      <h3 class="navbar-brand text-bold">
          
          <span class="text-uppercase">Online Exam Portal</span>
      </h3>
  </div> 
  </nav>  -->
  <!--kkkkkkkkkkkkkkkkk-->

  
  





 

<!--Navbar...-->

<nav class="nav nav-pills flex-column flex-sm-row">
  <a class="flex-sm-fill text-sm-center nav-link" routerLink="/about" routerLinkActive="active">About</a>
  <a class="flex-sm-fill text-sm-center nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
  <a class="flex-sm-fill text-sm-center nav-link" routerLink="/register" routerLinkActive="active">Register</a>
 

  <a class="flex-sm-fill text-sm-center nav-link" routerLink="/login" routerLinkActive="active">Log in</a>
  <a class="flex-sm-fill text-sm-center nav-link" routerLink="/table" routerLinkActive="active">Registered User</a>
  <a class="flex-sm-fill text-sm-center nav-link" routerLink="/welcomeQ" routerLinkActive="active">Welcome Exam</a>
  <a class="flex-sm-fill text-sm-center nav-link" routerLink="/logout" routerLinkActive="active">Log out</a> 
 
</nav>