<br><br>

<div class="Contactclss">
    <p style="color: maroon;">Contact Number :</p> <br><br>


    <ul>
        <li>
            <h4 style=" color:maroon; font-family: cursive;text-align:justify">Debomita Kundu</h4> +91 8617764934
        </li>
        <li>
            <h4 style=" color:maroon; font-family: cursive;text-align:justify">Anindita Ghosh</h4> +91 8910278480
        </li>
        <li>
            <h4 style=" color:maroon; font-family: cursive;text-align:justify">Anish Dutta</h4> +91 8013274791
        </li>
        <li>
            <h4 style=" color:maroon; font-family: cursive;text-align:justify">Debasmita Kundu</h4> +91 8371860132
        </li>
        <li>
            <h4 style=" color:maroon; font-family: cursive;text-align:justify">Avik Bera</h4> +91 9433537613
        </li>
        <li>
            <h4 style=" color:maroon; font-family: cursive;text-align:justify">Tapas Santua</h4> +91 9875525611
        </li>
    </ul>

    <br><br>
    <p style="color: maroon;">E-mail address : </p>


    <ul>
        <li>
            <h4 style=" color:navy; font-family: cursive;text-align:justify">msit1234@msit.edu.in</h4>
        </li>

    </ul>
</div>