*{
    margin: 0;
    padding: 0;
}

  /*body{
    background-color: rgb(158, 179, 134) ;
     background-size: 100%;
    background-position: 100px 10px;
    
    background-repeat: no-repeat;
    background-position: 20% 30%;
    text-indent: -9999px;} */
    input{
        width: 1 rem;
    }   

    

h1{
    text-align: center;
    color: rgb(138, 125, 31);
    /* font-size: px; */
    
}
 .Main{
    width: 100 vw;
    /* margin: 70px 90px auto auto; */
   background-size: cover;
   

}

.registration{
    margin: auto;
    width: 30%;
    font-size: 14px;
    border-radius:10px ;
    color: #fff;
    display: flex;
    justify-content: center;
}
#register{
    margin: 40px;
}
label{
    font-family: sans-serif;
    font-size: 28px;
    font-style: italic;
}
#name{
    /* width: 300px; */
    border: 1px solid #ddd;
    border-radius: 7px;
    outline: 0;
    padding: 7px;
    background-color: #fff;
    /* box-shadow: inset 1px 1px 5px rgba(11, 207, 191, 0.452); */
   
    
}
#submit{
    width: 102px;
    padding: 5px;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 300;
    border: none;
    border-radius: 4px;
    background-color: rgb(132, 192, 19);
    color: #fff;
    cursor: pointer;
    border: 1px solid rgba(148, 96, 132, 0.39);
    box-shadow: 1px 1px 5px rgba(0,0,0,0.3);

}
label{
    text-shadow: 1px 1px 5px grey;
    font-style: normal;
    color: #696969;
}
#myInput{
    /* width: 50%; */
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: 0;
    padding: 7px;
    background-color: #fff;
    /* box-shadow: inset 1px 1px 5px rgba(11, 207, 191, 0.452); */
}
 /*footer{
    font-family: 'Baloo Bhaina 2', cursive;;
    background-color:black;
    color: white;
    padding: 10px;
    text-transform: uppercase;
    text-align: center;
    position:relative;
    top: 300px;
    
} */