<div class="table">

  <table class="tableall">

    <tr style="font-size: 19px;font-weight: 300;color: gray;">
      <td>Name</td>
      <td>Email Id</td>
      <td>Phone Number</td>
      <td>Gender</td>
    </tr>
<!-- <div style="margin-top: 10px;"> -->
    <tr *ngFor="let it of Data" style="color: gray;font-size: 12px;">

      <td>{{it.name}}</td>
      <td>{{it.email}}</td>
      <td>{{it.phone}}</td>
      <td>{{it.gender}}</td>
      
      
    </tr>
  <!-- </div> -->

  </table>

</div>